In [358]:
import pandas as pd
import os
import missingno as msno
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

df = pd.read_csv('boston_train.csv', header = 0,sep =',')

df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,22
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,35
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,21
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,24
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,12

In [359]:

nulos_por_columna = df.isnull().sum()

print("Valores nulos por columna:")
print(nulos_por_columna)

Valores nulos por columna:
CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [360]:


# df_sin_nulos = df.fillna(0)
df_sin_nulos = df.dropna(axis=0)
df = df_sin_nulos  

df = df.replace('?', df.mode().iloc[0])
(df == '?').any()

CRIM       False
ZN         False
INDUS      False
CHAS       False
NOX        False
RM         False
AGE        False
DIS        False
RAD        False
TAX        False
PTRATIO    False
B          False
LSTAT      False
MEDV       False
dtype: bool

In [361]:
features = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']
label = 'MEDV'
le=LabelEncoder()
y=le.fit_transform(df[label])
xtrain,xtest,ytrain,ytest=train_test_split(df[features],y,test_size=0.20,random_state=0)
print('xtrain.shape:')
print(xtrain.shape)

print('\nlen(ytrain):')
print(len(ytrain))

print('\nxtest.shape:')
print(xtest.shape)

print('\nlen(ytest):')
print(len(ytest))

xtrain.shape:
(315, 13)

len(ytrain):
315

xtest.shape:
(79, 13)

len(ytest):
79

In [369]:
svm = LinearRegression()
modelo = svm.fit(xtrain, ytrain)
prediccion = modelo.predict(xtest)
prediccion_list = prediccion.tolist()
ytest_list = ytest.tolist()

i = 0
for pred in prediccion_list:
	# print(round(pred), '->', ytest[i])
	i += 1
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('score', modelo.score(xtest, ytest))
print('mean_squared_error', mean_squared_error(ytest, prediccion))
print('mean_absolute_error', mean_absolute_error(ytest, prediccion))

score 0.5969955303489405
mean_squared_error 25.72512940834284
mean_absolute_error 3.3344745310996227

In [363]:
from sklearn.linear_model import Ridge
svm = Ridge(max_iter=1000)
modelo = svm.fit(xtrain, ytrain)
prediccion = modelo.predict(xtest)
prediccion_list = prediccion.tolist()
ytest_list = ytest.tolist()

i = 0
for pred in prediccion_list:
	# print(round(pred), '->', ytest[i])
	i += 1
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('score', modelo.score(xtest, ytest))
print('mean_squared_error', mean_squared_error(ytest, prediccion))
print('mean_absolute_error', mean_absolute_error(ytest, prediccion))

score 0.604382957696848
mean_squared_error 25.25356509868593
mean_absolute_error 3.3038287207333354

In [364]:
from sklearn.linear_model import LogisticRegression
svm = LogisticRegression()
modelo = svm.fit(xtrain, ytrain)
prediccion = modelo.predict(xtest)
prediccion_list = prediccion.tolist()
ytest_list = ytest.tolist()

i = 0
for pred in prediccion_list:
	# print(round(pred), '->', ytest[i])
	i += 1
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('score', modelo.score(xtest, ytest))
print('mean_squared_error', mean_squared_error(ytest, prediccion))
print('mean_absolute_error', mean_absolute_error(ytest, prediccion))

score 0.11392405063291139
mean_squared_error 25.037974683544302
mean_absolute_error 3.569620253164557

/home/daarcy/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [365]:
from sklearn.linear_model import Lasso
svm = Lasso(max_iter=1000)
modelo = svm.fit(xtrain, ytrain)
prediccion = modelo.predict(xtest)
prediccion_list = prediccion.tolist()
ytest_list = ytest.tolist()

i = 0
for pred in prediccion_list:
	# print(round(pred), '->', ytest[i])
	i += 1
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('score', modelo.score(xtest, ytest))
print('mean_squared_error', mean_squared_error(ytest, prediccion))
print('mean_absolute_error', mean_absolute_error(ytest, prediccion))

score 0.6415349859839097
mean_squared_error 22.88202630087904
mean_absolute_error 3.48167620063714