In [3]:
import pandas as pd
import os
import missingno as msno
# from ydata_profiling import ProfileReport

# df_Marvel_buenos = dfHeros[(dfHeros.Publisher == "Marvel Comics")&(dfHeros.Alignment == "good")]
# df_Marvel_buenos
df = pd.read_csv('cdc.csv', header = 0,sep =',')


# de las personas que tienen un imc>30 ¿cual es el estado de salud mas comun?

df['imc'] = (df['weight'] / (df['height'] ** 2)) * 703
# df[(df['genhlth'] == 5) & (df['gender'] == "m")  & (df['smoke100'] == 1)]

# df["hola"] = df[(df['gender'] == "m")]

df["hola"] = df['weight']* df["age"]
# print(df30["genhlth"].mode())
df

,genhlth,exerany,hlthplan,smoke100,height,weight,wtdesire,age,gender,imc,hola
0,good,0,1,0,70,175,175,77,m,25.107143,13475
1,good,0,1,1,64,125,115,33,f,21.453857,4125
2,good,1,1,1,60,105,105,49,f,20.504167,5145
3,good,1,1,0,66,132,124,42,f,21.303030,5544
4,very good,0,1,0,61,150,130,55,f,28.339156,8250
...,...,...,...,...,...,...,...,...,...,...,...
19995,good,1,1,0,66,215,140,23,f,34.698118,4945
19996,excellent,0,1,0,73,200,185,35,m,26.383937,7000
19997,poor,0,1,0,65,216,150,57,f,35.940355,12312
19998,good,1,1,0,67,165,165,81,f,25.839831,13365
19999,good,1,1,1,69,170,165,83,m,25.101869,14110